* {
  font-family: 'Poppins', sans-serif;
}

.head {
  width: 100%;
}

.history {
  margin-top: 80px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  ;
}

.holder {
  background-color: #ccc;
  width: 300px;
  height: 250px;
  overflow: hidden;
  padding: 10px;
  font-family: Helvetica;
}

.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width: 300px;
  height: 240px;
  overflow: hidden;
}

.holder ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.holder ul li {
  padding: 10px 0px;
}

.holder ul li a {
  color: darkred;
  text-decoration: none;
}

.faculty {
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
}

td,
th {

  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.admission{
  
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.contact{
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.archives{
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
/********** Latest News, Event, Notice Board Starts **********/  
.width-100 {
  width:100%;
  float:left;
}
.width-50 {
  width:50%;
  float:left;
}
.width-65 {
  width:65%;
  float:left;
}
.width-30 {
  width:30%;
  float:right;
}
.container {
  width:1500px;
  margin:0 auto;
}
.margin-top-50 {
  margin-top:50px;
}
.latest-news{
  margin-left:10px;
  margin-right:10px;
  background:#fff;
  padding:20px;
  height:350px;
  margin-bottom:30px;
}
.event-list{
  margin-left:10px;
  margin-right:10px;
  background:#fff;
  padding:20px;
  height:350px;
  margin-bottom:30px;
}
.notice-board{
  margin-left:10px;
  margin-right:10px;
  background:#fff;
  padding:20px;
  height:350px;
  margin-bottom:30px;
}
.our-principal{
  margin-left:10px;
  margin-right:10px;
  background:#fff;
  padding:20px;
  height:350px;
  margin-bottom:30px;
}
.about-us{
  margin-left:10px;
  margin-right:10px;
  background:#fff;
  padding:20px;
  height:350px;
  margin-bottom:30px;
}
.certificate{
  margin-left:10px;
  margin-right:10px;
  background:#fff;
  padding:20px;
  height:350px;
  margin-bottom:30px;
}
.heading-sect{
  width: 100%;
  float: left;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 0px;
  margin: 0px;
  margin-bottom: 15px;
  padding-top: 2px;
  border: 1px solid #cfcfcf;
  padding-bottom: 10px;
  padding-top: 15px;
  padding-left: 15px;
  background: #655042;
  color:white;
}
.heading-sect h3{
  color:white;
}
.head-title {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 600;

  color: #655042;
  padding-bottom: 5px;
}
.upcoming-event-list li {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
.upcoming-event-list{
  padding:0px;
 list-style:none;
}
.event-date {
  background: #655042;
  width: 30px;
  float: left;
  text-align: center;
  font-size:14px;
  color: #fff;
  padding:8px;
  margin-right: 10px;
}
.notice-board-list li {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
.notice-board-list{
  padding:0px;
  list-style:none;
}
.latest-news-ul{
  padding:0px;
 list-style:none;
 line-height: 40px;
}
/********** Latest News, Event, Notice Board Ends **********/
/********** Footer Starts **********/  
.footer {
  background: #232F3E;
  padding: 50px 0px;
}
.quicklink-menu {
  list-style:none;
  padding-left: 10px;
}
.quicklink-menu li a {
  color: #fff;
  line-height: 2.5;
  font-size: 15px;
  text-decoration:none;
}
.social-media {
  list-style:none;
  margin-top:10px;
}
.social-media li a img {
  width:30px;
}
.social-media li {
  float:left;
  padding:0px 8px;
}
.quicklink-heading {
  font-size:18px;
  font-weight:bold;
  color:#fff;
  margin-bottom:10px;
}
.get-in-touch {
  list-style:none;
  padding-left: 10px;
}
.get-in-touch li i {
  color: #ed372c;
  font-size: 20px;
}
.get-in-touch li {
  color: #fff;
  line-height: 2.5;
  font-size: 15px;
  text-decoration:none;
}
.footer-e-mail {
  font-size:15px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
}
.footer-website {
  font-size:12px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
}
.cntre-align {
  text-align: justify;
}
/********** Footer Ends **********/